
<div class="main">
  <form [formGroup]="FormPerfil" (ngSubmit)="submitForm()">
    <input type="text" placeholder="nome" formControlName="nome">
    <input type="text" placeholder="email" formControlName="email">
    <input type="text" placeholder="senha" formControlName="senha">
    <button id="botao-cadastro" type="submit">Cadastrar-se</button>
  </form>
</div>



<!--
  <div id="conteudo">
    <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let usuario of usuarios">
              <mat-card class="mat-elevation-z4" >
                <mat-card-header>
                  <mat-card-title> 
                    {{usuario.nome}}
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{usuario.email}}
                  </mat-card-subtitle>
                  <mat-card-subtitle>
                    {{usuario.senha}}
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                  <button mat-button id="btn-card">voltar</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
    </div>
  
  </div>
-->