<body>
  <div class="login-box">
    <h2>Perfil</h2>
    <mat-list>
      <form [formGroup]="FormPerfil" (ngSubmit)="submitForm()">
        <label style="padding-left: 16px;">Nome Completo: </label>
        <mat-list-item class="user-box"><input type="text"  formControlName="nome"></mat-list-item>
        
        <label style="padding-left: 16px;">Email: </label>
        <mat-list-item class="user-box"><input type="text"  formControlName="email"></mat-list-item>
        
        <button class="botao" type="submit" >Editar</button>
      </form>
    </mat-list>
    <button style="margin-top: 5px;" class="botao" (click)="recuperacao()">editar senha</button>
  </div>
</body>