.card {
    margin-left: 0.6em;
    margin-right: 0.4em;
    padding: 16px;
    background-color: #8ab3cf;
  }

.content > mat-card {
    width: 200px;
    margin-bottom: 16px;
    
}

.botao{
    margin-left: 4em;
}

.main {
  margin-left: 210px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  padding-top: 10px;
  background-color: #bdd1de;
}

body{
  background-color: #bdd1de;
}