<body>
    <div class="main">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7, 8, 9, 10]">
                <mat-card class="card">
                    <mat-card-title>Nome vai aqui</mat-card-title>
                    <mat-card-subtitle>Gênero vai aqui</mat-card-subtitle>
                        <mat-card-content>
                            <p>Diretor vai aqui</p>
                            <p>Nota vai aqui</p>
                        </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</body>
