<body>
    <div class="main">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1]">
                <mat-card class="card">
                    <mat-card-title>Interestelar</mat-card-title>
                    <mat-card-subtitle>Ficção</mat-card-subtitle>
                        <mat-card-content>
                            <p>Christopher Nolan</p>
                            <p>4.5</p>
                        </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</body>
