<div class="box-main">
    <div class="main">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7, 8, 9, 10, 11, 12]">
                <mat-card class="card">
                    <mat-card-subtitle>Nome vai aqui</mat-card-subtitle>
                    <mat-card-title>gênero vai aqui</mat-card-title>
                        <mat-card-content>
                            <p>Sinopse vai aqui</p>
                        </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-button class="botao">Favoritar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
