<body>
  <div class="main">
    <div class="login-box">
        <h2>Login</h2>
        <mat-list>
          <form [formGroup]="formLogin" (ngSubmit)="submitForm()">
            <label style="padding-left: 16px;">Email: </label>
            <mat-list-item class="user-box"><input type="text"  formControlName="email"></mat-list-item>
            <label style="padding-left: 16px;">Senha: </label>
            <mat-list-item class="user-box"><input type="text"  formControlName="senha"></mat-list-item>
           
            <button class="botao" type="submit">Entrar</button>
          </form>
        </mat-list>
      </div>
  </div>
</body>
