.main {
    margin-left: 210px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    padding-top: 10px;
    background-color: #bdd1de;
    align-items: center;
    margin-left: 650px;
  }
  
  body{
    background-color: #bdd1de;
  }

  #label{
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .botao{
    background-color: #8ab3cf;
    border: none;
    margin-left: 15px;
    height: 25px;
    width: 255px;
  }

.botao:hover{
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  font-size: 15px;
  cursor: pointer;
}

  .user-box input{
    background-color: #8ab3cf; 
    border: none;
    height: 30px;
    width: 250px;
  }

  .info{
    padding-top: 100px;
  }