.main {
    margin-left: 210px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    padding-top: 10px;
    background-color: #f7a344;
    align-items: center;
    margin-left: 650px;
  }
  
  body{
    background-color: #f7a344;
  }

  #label{
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .botao{
    background-color: #EB7723;
    border: none;
    margin-left: 15px;
    height: 25px;
    width: 255px;
  }

.botao:hover{
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  font-size: 15px;
  cursor: pointer;
}

  .user-box input{
    background-color: #EB7723; 
    border: none;
    height: 30px;
    width: 250px;
  }

  .info{
    padding-top: 100px;
  }


  /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 210px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #EB7723; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
  background-color: #EB7723;
  border: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav button:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav h3{
  padding-left: 27px;
  color: #f1f1f1;
}

.sidenav h3:hover{
  color: #f1f1f1;
  cursor: pointer;
}

/* Style page content */


#logout{
  margin-top: 390px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav button {font-size: 18px;}
}