#form{
    padding-left: 630px;
    align-items: center;
}

#select{
    margin-top: 5px;
    border:solid;
}

#first-field{
    border: solid;
}

#botao{
    margin-top: 10px;
    margin-left: 60px;
    background-color: gray;
}

#option{
    margin-bottom: 1px;
}