<body>
<div class="main">
<div id="form">
    <h4>Seleção de gêneros</h4>
    <mat-form-field appearance="fill" id="first-field">
        <select matNativeControl id="option">
            <option value="">Terror</option>
            <option value="">Comédia</option>
            <option value="">Romance</option>
            <option value="">Cult</option>
        </select>
    </mat-form-field><br>

    <mat-form-field appearance="fill" id="select">
        <select matNativeControl id="option">
            <option value="">Terror</option>
            <option value="">Comédia</option>
            <option value="">Romance</option>
            <option value="">Cult</option>
        </select>
    </mat-form-field><br>

    <mat-form-field appearance="fill" id="select">
        <select matNativeControl id="option">
            <option value="">Terror</option>
            <option value="">Comédia</option>
            <option value="">Romance</option>
            <option value="">Cult</option>
        </select>
    </mat-form-field><br>

    <mat-form-field appearance="fill" id="select">
        <select matNativeControl id="option">
            <option value="">Terror</option>
            <option value="">Comédia</option>
            <option value="">Romance</option>
            <option value="">Cult</option>
        </select>
    </mat-form-field><br>

    <button mat-button id="botao">Procurar</button>
</div>
</div>
</body>