.main {
    margin-left: 210px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: #bdd1de;
    text-align: center;
  }

  body{
    background-color: #bdd1de;
  }
  html{
    background-color: #bdd1de;
    height: 100%;
  }