#form{
    padding-left: 630px;
    align-items: center;
}

#select{
    margin-top: 5px;
    border:solid;
}

#first-field{
    border: solid;
}

#botao{
    margin-top: 10px;
    margin-left: 60px;
    background-color: gray;
}

#option{
    margin-bottom: 1px;
}

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: #f9f2e7;
  }

  body{
    background-color: #f9f2e7;
  }